#landingPage {
  display: flex;
  background-image: url('https://ayitaenmotion.files.wordpress.com/2018/11/2018-11-03-2.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center
}

#landingLink {
  margin-top: 175px;
  font-family: serif;
  font-size: 1.5em;
  font-weight:bold;
  color: #233237;
}

body {
  font-family: sans-serif;
  height: 100%;
  font-weight: 300;
  letter-spacing: 0.025em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*Pagination Start*/
/* Pagination links */
.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination p.active {
  background-color: black;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination p:hover:not(.active) {background-color: #ddd;}
/*Pagination End*/

#container-row {
  display: flex;
}

#second-column {
  padding-left: 20px
}

#cart-image {
  width: 50px;
}

/* GRID CSS */

#app {
  /* background: #18121E */
background: white
}

.navgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1em;
}

.nav-child {
  display:flex;
  flex-flow: row;
  padding: 10px;
  text-align: right
}

#navContainer {
  background: rgb(152, 75, 76, .85);
  opacity: 1;
  border-radius: 0 0 15px 20px;
  padding: 20px;
  width: 100vw;
  height: 60px;
  position: fixed;
    top: 0;
    width: 100%;
}

#navTitle {
  background: rgb(152, 75, 76, 0);
  font-family: serif;
  font-size: 2em;
  text-decoration-color: #233237;
  font-weight:bold;
  text-align: center
}

:link {
  color: #eac67a
}

a:hover {
  color: #233237;
}

a:active {
  color: #233237;
}

:visited {
  color: #EAC67A
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1em;
  grid-auto-rows:500px;
  padding-top: 150px;
}

.grid-child {
  display:flex;
  flex-flow: row;
  padding: 10px;
  text-align: right
}

.flex-col {
  display:flex;
  flex-flow: column;
  padding: 10px;
  text-align: right;
  color: #984B43;
}

.main-container {
  padding-top: 150px;
}

.header {
  font-family: serif;
  font-size: 2em;
  color: #EAC67A;
  font-weight: bold;
  text-align: left
}

.red {
  color:  #984B43;
}

.yellow {
  color: #EAC67A;
}

img {
  border-radius: 8px;
  border: 10px solid #ddd;
  padding: 5px;
  width: 300px;
}

img:hover {
  box-shadow: 0 0 8px 4px rgba(221, 230, 233, 0.5);
}

.admin-grid {
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-gap:1em;
  /* grid-auto-rows:500px; */
}

.admin-grid-child {
  display:flex;
  flex-flow: column;
  padding: 10px;
  /* text-align: right */
}

.orders-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap:1em;
  /* grid-auto-rows:500px; */
}

.orders-grid-child {
  display:flex;
  flex-flow: column;
  padding: 10px;
  /* text-align: right */
}

/* ORDER/USER TABLE  */
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}


 /* ReviewForm Start */
 /* star ratings */
 .checked {
    color: orange;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: 0;
    padding:0;
    font-family: fontAwesome;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
 /* ReviewForm End */

/* Stripe Card Input */
 /* * {
  box-sizing: border-box;
}

body,
html {
  background-color: #f6f9fc;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
} */

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

#stripeButton {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

#stripeForm {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #e6ebf1;
}

#stripeButton:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

/* Stripe Card Input End */