#landingPage {
  display: flex;
  background-image: url('https://ayitaenmotion.files.wordpress.com/2018/11/2018-11-03-2.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center
}

#landingLink {
  margin-top: 175px;
  font-family: serif;
  font-size: 1.5em;
  font-weight:bold;
  color: #233237;
}

body {
  font-family: sans-serif;
  height: 100%
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*Pagination Start*/
/* Pagination links */
.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination p.active {
  background-color: black;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination p:hover:not(.active) {background-color: #ddd;}
/*Pagination End*/

#container-row {
  display: flex;
}

#second-column {
  padding-left: 20px
}

#cart-image {
  width: 50px;
}

/* GRID CSS */

#app {
  /* background: #18121E */
background: grey
}

.navgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1em

}

.nav-child {
  display:flex;
  flex-flow: row;
  padding: 10px;
  text-align: right
}

#navContainer {
  background: rgb(152, 75, 76, .85);
  opacity: 1;
  border-radius: 0 0 15px 20px;
  padding: 20px;
  width: 100vw;
  height: 60px;
  position: fixed;
    top: 0;
    width: 100%;
}

#navTitle {
  background: rgb(152, 75, 76, 0);
  font-family: serif;
  font-size: 2em;
  text-decoration-color: #233237;
  font-weight:bold;
  text-align: center
}

:link {
  color: #eac67a
}

a:hover {
  color: #233237;
}

a:active {
  color: #233237;
}

:visited {
  color: #EAC67A
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1em;
  grid-auto-rows:500px;
}

.grid-child {
  display:flex;
  flex-flow: row;
  padding: 10px;
  text-align: right
}

.flex-col {
  display:flex;
  flex-flow: column;
  padding: 10px;
  text-align: right;
  color: #984B43;
}

.main-container {
  padding-top: 100px;
}

.header {
  font-family: serif;
  font-size: 2em;
  color: #EAC67A;
  font-weight: bold;
  text-align: left
}

.red {
  color:  #984B43;
}

.yellow {
  color: #EAC67A;
}

img {
  border-radius: 8px;
  border: 10px solid #ddd;
  padding: 5px;
  width: 300px;
}

img:hover {
  box-shadow: 0 0 8px 4px rgba(221, 230, 233, 0.5);
}

.admin-grid {
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-gap:1em;
  /* grid-auto-rows:500px; */
}

.admin-grid-child {
  display:flex;
  flex-flow: column;
  padding: 10px;
  /* text-align: right */
}

.orders-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap:1em;
  /* grid-auto-rows:500px; */
}

.orders-grid-child {
  display:flex;
  flex-flow: column;
  padding: 10px;
  /* text-align: right */
}

/* ORDER/USER TABLE  */
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}


 /* ReviewForm Start */
 /* star ratings */
 .checked {
    color: orange;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: 0;
    padding:0;
    font-family: fontAwesome;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
 /* ReviewForm End */


